In [21]:
import pandas as pd
import numpy as np
import warnings

warnings.simplefilter(action='ignore', category=FutureWarning)

In [22]:
url = ('/Users/javi/Desktop/Ironhack/Entregas_de_github/Final-Project-at-Ironhack/Data/Raw data/World demographic/active popilation by country/active_population.csv')

# Attempting to read the file again by skipping the initial lines and specifying the delimiter.
df = pd.read_csv(url)

# Display the first few rows of the cleaned dataframe
df.head()

,Country Name,Indicator Name,1991,1992,1993,1994,1995,1996,1997,1998,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,Unnamed: 35
0,Africa Eastern and Southern,"Labor force, total",124184217,127476553,130683206,134282253,138265805,142066869,145778581,149739356,...,241468428,248638349,255956115,263150918,270995141,276110533,285907674,295773409.0,305241775.0,NaN
1,Afghanistan,"Labor force, total",2643481,2955253,3417831,3752530,3963705,4103075,4240075,4382782,...,8630724,8913938,9254593,9242721,9220323,9105733,9356574,8803873.0,8920521.0,NaN
2,Africa Western and Central,"Labor force, total",76559395,78728732,80927761,83125472,85439637,87874401,90340469,92909129,...,142375596,146463779,149976582,154203991,158547164,161605111,166806489,173133251.0,178686576.0,NaN
3,Angola,"Labor force, total",5045804,5203464,5362233,5528824,5712054,5912307,6122419,6338365,...,11623549,12011479,12415650,12825924,13246117,13728470,14445598,14746279.0,15222540.0,NaN
4,Albania,"Labor force, total",1417575,1424787,1401938,1381976,1355763,1337782,1352915,1338937,...,1308343,1354998,1377319,1409389,1433004,1359716,1382433,1404942.0,1399098.0,NaN

In [23]:
df.shape

(235, 36)

In [24]:
df.isnull().values.any()

True

In [25]:
# Function to check the percentage of NaN values in each row
def check_nan_percentage(row):
    nan_count = row.isna().sum()
    total_count = len(row) - 1  # Exclude the 'Country Name' column
    nan_percentage = nan_count / total_count
    return nan_percentage

# List to store countries with more than 35% NaN values
countries_with_high_nan = []

# Process each row
for index, row in df.iterrows():
    nan_percentage = check_nan_percentage(row)
    if nan_percentage > 0.35:
        countries_with_high_nan.append(row['Country Name'])
    else:
        # Forward fill, backward fill, and interpolate for rows with <= 35% NaN values
        df.iloc[index, 1:] = df.iloc[index, 1:].ffill().bfill().interpolate()

# Display the countries with more than 35% NaN values
if countries_with_high_nan:
    print("Countries with more than 35% NaN values:")
    for country in countries_with_high_nan:
        print(country)
else:
    print("No country has more than 35% NaN values.")

No country has more than 35% NaN values.

In [26]:
df = df.drop(columns=['Unnamed: 35', 'Indicator Name'])

In [27]:
df

,Country Name,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Africa Eastern and Southern,124184217,127476553,130683206,134282253,138265805,142066869,145778581,149739356,154011329,...,233827863,241468428,248638349,255956115,263150918,270995141,276110533,285907674,295773409.0,305241775.0
1,Afghanistan,2643481,2955253,3417831,3752530,3963705,4103075,4240075,4382782,4542724,...,8285362,8630724,8913938,9254593,9242721,9220323,9105733,9356574,8803873.0,8920521.0
2,Africa Western and Central,76559395,78728732,80927761,83125472,85439637,87874401,90340469,92909129,95484009,...,138886182,142375596,146463779,149976582,154203991,158547164,161605111,166806489,173133251.0,178686576.0
3,Angola,5045804,5203464,5362233,5528824,5712054,5912307,6122419,6338365,6558233,...,11251540,11623549,12011479,12415650,12825924,13246117,13728470,14445598,14746279.0,15222540.0
4,Albania,1417575,1424787,1401938,1381976,1355763,1337782,1352915,1338937,1322053,...,1256110,1308343,1354998,1377319,1409389,1433004,1359716,1382433,1404942.0,1399098.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,Samoa,56070,56641,57137,57934,58236,58459,58943,59333,59708,...,67605,68129,68515,69251,70143,70843,71346,72959,75463.0,76895.0
231,"Yemen, Rep.",3007050,3117326,3239391,3366403,3522972,3677384,3836888,4005653,4185293,...,5882886,5273905,5483245,5692713,5898001,6104306,6237915,6334868,6663004.0,6882832.0
232,South Africa,15867850,16072382,16273778,16515224,16792468,17097879,17443141,17814021,18179270,...,21981198,23120551,23430091,23776332,23771537,24142655,22920638,23621462,24366735.0,25158403.0
233,Zambia,2400010,2459908,2518848,2578499,2638661,2702605,2772935,2846682,2923922,...,5037575,5218288,5404433,5594492,5789287,6117559,6488754,6642413,6826898.0,7051257.0
234,Zimbabwe,3653494,3766152,3828446,3874415,3960873,4083952,4211605,4336765,4443547,...,5187402,5330837,5479855,5626689,5770751,5912685,6001349,6182422,6370612.0,6560725.0

In [17]:
df.to_csv('/Users/javi/Desktop/Ironhack/Entregas_de_github/Final-Project-at-Ironhack/Data/Raw data/World demographic/active popilation by country/active_population_cleaned.csv',index=False,encoding='latin-1')

In [20]:
url = ('/Users/javi/Desktop/Ironhack/Entregas_de_github/Final-Project-at-Ironhack/Data/Raw data/World demographic/active popilation by country/active_population_cleaned.csv')
df = pd.read_csv(url)
df

,Country Name,Indicator Name,1991,1992,1993,1994,1995,1996,1997,1998,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Africa Eastern and Southern,"Labor force, total",124184217,127476553,130683206,134282253,138265805,142066869,145778581,149739356,...,233827863,241468428,248638349,255956115,263150918,270995141,276110533,285907674,295773409.0,305241775.0
1,Afghanistan,"Labor force, total",2643481,2955253,3417831,3752530,3963705,4103075,4240075,4382782,...,8285362,8630724,8913938,9254593,9242721,9220323,9105733,9356574,8803873.0,8920521.0
2,Africa Western and Central,"Labor force, total",76559395,78728732,80927761,83125472,85439637,87874401,90340469,92909129,...,138886182,142375596,146463779,149976582,154203991,158547164,161605111,166806489,173133251.0,178686576.0
3,Angola,"Labor force, total",5045804,5203464,5362233,5528824,5712054,5912307,6122419,6338365,...,11251540,11623549,12011479,12415650,12825924,13246117,13728470,14445598,14746279.0,15222540.0
4,Albania,"Labor force, total",1417575,1424787,1401938,1381976,1355763,1337782,1352915,1338937,...,1256110,1308343,1354998,1377319,1409389,1433004,1359716,1382433,1404942.0,1399098.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,Samoa,"Labor force, total",56070,56641,57137,57934,58236,58459,58943,59333,...,67605,68129,68515,69251,70143,70843,71346,72959,75463.0,76895.0
231,"Yemen, Rep.","Labor force, total",3007050,3117326,3239391,3366403,3522972,3677384,3836888,4005653,...,5882886,5273905,5483245,5692713,5898001,6104306,6237915,6334868,6663004.0,6882832.0
232,South Africa,"Labor force, total",15867850,16072382,16273778,16515224,16792468,17097879,17443141,17814021,...,21981198,23120551,23430091,23776332,23771537,24142655,22920638,23621462,24366735.0,25158403.0
233,Zambia,"Labor force, total",2400010,2459908,2518848,2578499,2638661,2702605,2772935,2846682,...,5037575,5218288,5404433,5594492,5789287,6117559,6488754,6642413,6826898.0,7051257.0
234,Zimbabwe,"Labor force, total",3653494,3766152,3828446,3874415,3960873,4083952,4211605,4336765,...,5187402,5330837,5479855,5626689,5770751,5912685,6001349,6182422,6370612.0,6560725.0

In [19]:
df.isnull().values.any()

False