In [10]:
import pandas as pd

This is so we can create an easy pie chart of total population and find out how much of the total pop is under 2.1 birth rate

In [11]:
url = ('/Users/javi/Desktop/Ironhack/Entregas_de_github/Final-Project-at-Ironhack/Data/Cleaned/MEGAMERGE_machine_learning_ready.csv')
df = pd.read_csv(url)
df

,Country Name,Year,Tertiary Enrolment (F),Tertiary Enrolment (M),Secondary Enrolment (M),Secondary Enrolment (F),Primary Enrolment (F),Primary Enrolment (M),Birth Rate,Death Rate,GDP per Capita,Natural Growth Rate,Median Age,Total Population,Region
0,Afghanistan,1980,0.50,1.86,13.76,3.52,11.00,46.06,7.59,24.21,291.65,2.63,15.9,12486631.0,Asia
1,Afghanistan,1981,2.33,4.18,24.73,15.54,24.43,53.89,7.57,23.61,311.85,2.67,15.8,11155195.0,Asia
2,Afghanistan,1982,4.16,6.50,35.69,27.57,37.87,61.72,7.55,25.62,326.37,2.45,15.7,10088289.0,Asia
3,Afghanistan,1983,5.99,8.81,46.66,39.59,51.30,69.55,7.54,25.11,340.88,2.50,15.6,9951449.0,Asia
4,Afghanistan,1984,7.82,11.13,57.62,51.61,64.73,77.38,7.51,30.03,355.39,2.02,15.5,10243686.0,Asia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9235,Zimbabwe,2017,9.69,8.01,45.94,45.89,79.96,80.78,3.71,8.27,1192.11,2.42,17.3,14751101.0,Africa
9236,Zimbabwe,2018,16.41,15.20,48.05,48.82,81.03,81.91,3.66,7.97,2269.18,2.41,17.5,15052184.0,Africa
9237,Zimbabwe,2019,18.15,15.88,56.63,57.88,76.54,76.11,3.60,8.04,1421.87,2.35,17.7,15354608.0,Africa
9238,Zimbabwe,2020,19.81,16.83,56.63,57.88,76.54,76.11,3.54,8.13,1372.70,2.29,17.9,15669666.0,Africa
9239,Zimbabwe,2021,23.23,17.86,56.63,57.88,76.54,76.11,3.49,9.06,1773.92,2.15,18.1,15993524.0,Africa

In [12]:
# Filter out rows where 'Country Name' is 'World'
df_filtered = df[df['Country Name'] != 'World']

# Group by year and calculate the required statistics
df_filtered['Above 2.1'] = df_filtered['Birth Rate'] >= 2.1

# Aggregate df
df_agg = df_filtered.groupby(['Year', 'Above 2.1']).agg({
    'Total Population': 'sum'
}).reset_index()

# Calculate the total population per year
total_population_per_year = df_agg.groupby('Year')['Total Population'].sum().reset_index()
total_population_per_year = total_population_per_year.rename(columns={'Total Population': 'Total Population Year'})

# Merge the aggregated df with total population per year
df_merged = pd.merge(df_agg, total_population_per_year, on='Year')

# Calculate the percentage
df_merged['Percentage'] = (df_merged['Total Population'] / df_merged['Total Population Year']) * 100

# Prepare the final df
final_df = df_merged.pivot(index='Year', columns='Above 2.1', values='Percentage').reset_index()
final_df = final_df.rename(columns={False: 'Below 2.1', True: 'Above or Equal 2.1'})


# Save the prepared df to CSV
final_df.to_csv('/Users/javi/Desktop/Ironhack/Entregas_de_github/Final-Project-at-Ironhack/Data/Cleaned/MEGAMERGE_machine_learning_percentages.csv', index=False)

/var/folders/23/ykjhg9v57tn3wfmhgxtgj1s80000gn/T/ipykernel_61903/2129195699.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['Above 2.1'] = df_filtered['Birth Rate'] >= 2.1

In [14]:
final_df

Above 2.1  Year  Below 2.1  Above or Equal 2.1
0          1980  21.677629           78.322371
1          1981  22.526859           77.473141
2          1982  22.378155           77.621845
3          1983  20.186673           79.813327
4          1984  22.539023           77.460977
5          1985  22.504472           77.495528
6          1986  19.186354           80.813646
7          1987  18.953208           81.046792
8          1988  18.709454           81.290546
9          1989  22.282721           77.717279
10         1990  23.321892           76.678108
11         1991  44.596891           55.403109
12         1992  44.440897           55.559103
13         1993  44.209953           55.790047
14         1994  43.967385           56.032615
15         1995  43.722083           56.277917
16         1996  43.629994           56.370006
17         1997  43.985630           56.014370
18         1998  43.664229           56.335771
19         1999  43.582690           56.417310
20         2000  45.755057           54.244943
21         2001  45.420686           54.579314
22         2002  45.119360           54.880640
23         2003  47.674466           52.325534
24         2004  47.236317           52.763683
25         2005  46.900412           53.099588
26         2006  42.167759           57.832241
27         2007  41.820906           58.179094
28         2008  46.716914           53.283086
29         2009  46.427365           53.572635
30         2010  45.906858           54.093142
31         2011  45.677225           54.322775
32         2012  45.307470           54.692530
33         2013  45.485752           54.514248
34         2014  45.195189           54.804811
35         2015  45.305689           54.694311
36         2016  46.678052           53.321948
37         2017  48.560475           51.439525
38         2018  49.925804           50.074196
39         2019  50.277973           49.722027
40         2020  67.851914           32.148086
41         2021  67.748247           32.251753