In [2]:
import pandas as pd

# Load birth rate data
birth_rate_file_path = '/Users/javi/Desktop/Ironhack/Entregas_de_github/Final-Project-at-Ironhack/Data/Raw data/World demographic/BirthRate/birth_rate_first_clean.csv'
birth_rate_data = pd.read_csv(birth_rate_file_path)

# Display the first few rows
print("Birth Rate Data:")
birth_rate_data.head()

Birth Rate Data:

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Aruba,ABW,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,4.82,4.655,4.471,4.271,4.059,3.842,...,2.148000,1.972000,1.953000,1.839000,1.587000,1.486000,1.325000,1.180000,1.180000,1.180000
1,Africa Eastern and Southern,AFE,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,6.72412501084242,6.74275210020318,6.76293005566599,6.77871194340642,6.78842004142392,6.80032228007056,...,4.739861,4.677618,4.615670,4.570409,4.527705,4.482898,4.416900,4.354709,4.354709,4.354709
2,Afghanistan,AFG,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,7.282,7.284,7.292,7.302,7.304,7.305,...,5.560000,5.405000,5.262000,5.129000,5.002000,4.870000,4.750000,4.643000,4.643000,4.643000
3,Africa Western and Central,AFW,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,6.45844789624312,6.47151755185967,6.49182578734167,6.50608758636194,6.52535544956749,6.54110170802647,...,5.437493,5.385059,5.328709,5.255345,5.186319,5.118932,5.049329,4.978662,4.978662,4.978662
4,Angola,AGO,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,6.708,6.79,6.872,6.954,7.036,7.116,...,5.864000,5.774000,5.686000,5.600000,5.519000,5.442000,5.371000,5.304000,5.304000,5.304000

In [5]:
birth_rate_data.isnull().values.any()

False

In [8]:
# Load death rate data
death_rate_file_path = '/Users/javi/Desktop/Ironhack/Entregas_de_github/Final-Project-at-Ironhack/Data/Raw data/World demographic/Death rate, crude/death rate.csv'
death_rate_data = pd.read_csv(death_rate_file_path)

# Display the first few rows
print("\nDeath Rate Data:")
death_rate_data.head()
print(death_rate_data.isnull().values.any())

Death Rate Data:
False

In [11]:
# Load world population data
world_population_file_path = '/Users/javi/Desktop/Ironhack/Entregas_de_github/Final-Project-at-Ironhack/Data/Raw data/World demographic/world bank population/world_population.csv'
world_population_data = pd.read_csv(world_population_file_path)

# Display the first few rows
print("\nWorld Population Data:")
world_population_data.isnull().values.any()

World Population Data:

False

In [13]:
world_population_data.head()

,Country Name,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,54608.0,55811.0,56682.0,57475.0,58178.0,58782.0,59291.0,59522.0,59471.0,...,102880.0,103594.0,104257.0,104874.0,105439.0,105962.0,106442.0,106585.0,106537.0,106445.0
1,Africa Eastern and Southern,130692579.0,134169237.0,137835590.0,141630546.0,145605995.0,149742351.0,153955516.0,158313235.0,162875171.0,...,567892149.0,583651101.0,600008424.0,616377605.0,632746570.0,649757148.0,667242986.0,685112979.0,702977106.0,720859132.0
2,Afghanistan,8622466.0,8790140.0,8969047.0,9157465.0,9355514.0,9565147.0,9783147.0,10010030.0,10247780.0,...,31541209.0,32716210.0,33753499.0,34636207.0,35643418.0,36686784.0,37769499.0,38972230.0,40099462.0,41128771.0
3,Africa Western and Central,97256290.0,99314028.0,101445032.0,103667517.0,105959979.0,108336203.0,110798486.0,113319950.0,115921723.0,...,387204553.0,397855507.0,408690375.0,419778384.0,431138704.0,442646825.0,454306063.0,466189102.0,478185907.0,490330870.0
4,Angola,5357195.0,5441333.0,5521400.0,5599827.0,5673199.0,5736582.0,5787044.0,5827503.0,5868203.0,...,26147002.0,27128337.0,28127721.0,29154746.0,30208628.0,31273533.0,32353588.0,33428486.0,34503774.0,35588987.0

In [14]:
birth_rate_data

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Aruba,ABW,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,4.82,4.655,4.471,4.271,4.059,3.842,...,2.148000,1.972000,1.953000,1.839000,1.587000,1.486000,1.325000,1.180000,1.180000,1.180000
1,Africa Eastern and Southern,AFE,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,6.72412501084242,6.74275210020318,6.76293005566599,6.77871194340642,6.78842004142392,6.80032228007056,...,4.739861,4.677618,4.615670,4.570409,4.527705,4.482898,4.416900,4.354709,4.354709,4.354709
2,Afghanistan,AFG,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,7.282,7.284,7.292,7.302,7.304,7.305,...,5.560000,5.405000,5.262000,5.129000,5.002000,4.870000,4.750000,4.643000,4.643000,4.643000
3,Africa Western and Central,AFW,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,6.45844789624312,6.47151755185967,6.49182578734167,6.50608758636194,6.52535544956749,6.54110170802647,...,5.437493,5.385059,5.328709,5.255345,5.186319,5.118932,5.049329,4.978662,4.978662,4.978662
4,Angola,AGO,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,6.708,6.79,6.872,6.954,7.036,7.116,...,5.864000,5.774000,5.686000,5.600000,5.519000,5.442000,5.371000,5.304000,5.304000,5.304000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
250,Kosovo,XKX,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,6.359,6.35,6.331,6.296,6.126,5.927,...,1.871000,1.751000,1.658000,1.649000,1.605000,1.546000,1.529000,1.522000,1.522000,1.522000
251,"Yemen, Rep.",YEM,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,7.938,7.963,7.963,7.981,8.038,8.067,...,4.427000,4.322000,4.214000,4.112000,4.043000,3.963000,3.886000,3.795000,3.795000,3.795000
252,South Africa,ZAF,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,6.159,6.138,6.11,6.077,6.03,5.967,...,2.424000,2.359000,2.261000,2.334000,2.418000,2.475000,2.401000,2.374000,2.374000,2.374000
253,Zambia,ZMB,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,7.115,7.169,7.214,7.249,7.274,7.291,...,4.899000,4.793000,4.707000,4.614000,4.536000,4.451000,4.379000,4.308000,4.308000,4.308000
254,Zimbabwe,ZWE,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,7.22,7.233,7.255,7.253,7.261,7.258,...,3.962000,3.849000,3.771000,3.706000,3.659000,3.599000,3.545000,3.491000,3.491000,3.491000

In [15]:
death_rate_data

,Country Name,1980,1981,1982,1983,1984,1985,1986,1987,1988,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,6.060000,5.935000,6.118000,6.253000,6.366000,6.498000,6.690000,6.780000,6.902000,...,7.187000,7.403000,7.729000,7.968000,8.336000,8.414000,8.59700,8.778000,9.690000,11.235000
1,Africa Eastern and Southern,16.680517,16.443989,16.244148,17.621384,17.598957,17.270932,16.771687,16.344947,17.224146,...,9.101050,8.775595,8.475899,8.239619,7.973696,7.773413,7.58811,7.434644,7.620548,8.036899
2,Afghanistan,24.209000,23.611000,25.622000,25.107000,30.030000,29.661000,23.705000,23.285000,19.945000,...,7.711000,7.478000,7.395000,7.331000,7.077000,7.027000,6.98100,6.791000,7.113000,7.344000
3,Africa Western and Central,18.941439,18.678833,18.449267,18.230465,18.072211,17.932814,17.818011,17.621851,17.371957,...,11.964805,11.730451,11.544798,11.352476,11.113635,10.909012,10.71184,10.488748,10.601297,10.678952
4,Angola,21.710000,21.462000,21.247000,21.979000,21.788000,21.576000,21.429000,22.934000,22.387000,...,10.031000,9.607000,9.181000,8.826000,8.555000,8.242000,7.99000,7.811000,7.821000,8.009000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
251,Kosovo,6.676000,6.494000,6.422000,6.301000,6.157000,6.002000,5.856000,5.658000,5.580000,...,4.560000,4.593000,4.645000,4.841000,4.973000,5.262000,5.50500,5.560000,7.505000,7.220000
252,"Yemen, Rep.",17.608000,16.739000,16.108000,15.009000,14.221000,13.592000,14.067000,12.484000,11.981000,...,5.582000,5.507000,5.566000,6.137000,6.052000,6.082000,6.62900,6.416000,6.509000,6.845000
253,South Africa,9.810000,9.539000,9.298000,9.075000,8.902000,8.715000,8.517000,8.439000,8.235000,...,9.993000,9.770000,9.432000,9.259000,8.924000,8.802000,8.76500,8.614000,9.425000,11.432000
254,Zambia,13.520000,13.533000,13.614000,13.828000,14.157000,14.602000,15.053000,15.438000,15.836000,...,8.267000,7.788000,7.408000,7.196000,6.941000,6.809000,6.74800,6.571000,6.602000,6.973000
255,Zimbabwe,11.069000,10.122000,9.776000,9.442000,8.910000,8.492000,8.170000,8.117000,8.170000,...,10.691000,9.787000,9.123000,8.774000,8.441000,8.266000,7.97200,8.043000,8.132000,9.057000

In [20]:
df_long = pd.melt(death_rate_data, id_vars=['Country Name'], var_name='Year', value_name='death_rate_data')

# Convert 'Year' to an integer
df_long['Year'] = df_long['Year'].astype(int)

df_sorted = df_long.sort_values(by='Country Name')